html, body, .full-height {
    min-height: 100%;
}

.active {
    background-color: green;
}

.decalled {
    margin-left: 10px;
}

a.decalled {
    display: block;
}

.full {
    height: 80%;
    padding: 5px;
}

.padded {
    padding: 5px;
}

.md-fab-bottom-left {
    position: fixed !important;
}

.topbar {
    position: fixed !important;
    z-index: 9999;
}

.toolbar-space {
    margin-bottom: 75px;
}

.pixel {
    font-size: 12px;
    height: 12px;
    width: 12px;
    min-height: 12px;
    min-width: 12px
}