<md-dialog aria-label="Modifier une variable">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Modifier une variable</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip md-direction="left">Annuler et fermer</md-tooltip>
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout="column" class="md-padding">
                <div ngf-drop="onSelectFile()" ng-model="file" ngf-select="onSelectFile()" class="well">
                    {{ filename }}
                </div>
                
                <md-progress-linear md-mode="determinate" value="{{ percent }}" ng-if="showPercent"></md-progress-linear>

                <div class="text-center">
                    <md-button class="md-raised md-primary" ng-click="send()">Mettre à jour</md-button>
                </div>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>