<md-dialog aria-label="Modifier une variable">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Modifier une variable</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip md-direction="left">Annuler et fermer</md-tooltip>
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Nouvelle valeur</label>
                    <input ng-model="value" type="number" step="0.001" />
                </md-input-container>

                <div class="text-center">
                    <md-button class="md-raised md-primary" ng-click="send()">Mettre à jour</md-button>
                </div>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>