<br />
<div class="col-md-4 col-md-offset-4">
    <div md-whiteframe="4">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Choisissez un namespace</h2>

                <md-button class="md-icon-button md-fab md-mini md-primary md-hue-3" ng-click="add($event)" aria-label="Créer un namespace">
                    <md-tooltip md-direction="left">Créer un namespace</md-tooltip>
                    <md-icon md-font-set="material-icons">add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="namespace in list" ng-click="choose(namespace.uuid)">
                    <md-icon class="material-icons md-avatar">extension</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ namespace.name }}</h3>
                        <p></p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>